.skills{
    max-width: 980px;
    margin: 0 auto;
}
.skills-title{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.skills-skill{
    font-size: 20px;
    font-weight: 500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    padding: 0.5em 0.7em;
    margin: 10px;
}

.skills-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
}
.skills-skill:hover{
    box-shadow: 0px 0px 10px 10px var(--primary-color);
    -webkit-box-shadow: 0px 0px 10px 10px var(--primary-color);
    -webkit-transform:scale(1.2);transform:scale(1.2);
}
.skills-skill img{
    width: 50px;
    height: 50px;
}
.skills-skill img:hover{
    filter: saturate(180%); 
}
@media(min-width: 950px){
    .skills-title{
        font-size: 50px;
    }
    
    .skills-skill{
        font-size: 30px;
        margin: 20px;
    }
    .skills-skill img{
        width: 100px;
        height: 100px;
    }
}