
.text {
    margin: 0 auto;
  display: block;
  justify-content: center;
  text-align: center;
  font-size: 25px;
  font-family: font-family 'Montserrat', sans-serif;
}
.text p{
     padding: auto 0;
     justify-self: center;
     margin: 0 auto;
}
.p-animado {
    margin: 0;
    padding: 0;
}

.word {
    position: absolute;
    left: 50%;
    width: 0px auto;
    margin-left: -70px;

}

.letter {
  display: inline-block;
  position: relative;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}
@media(min-width: 950px){
    .text {
        font-size: 40px;
    }
    .word{
        margin-left: -110px;
    }
}